<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Conta</title>
</head>
<body>
    <form action="">
        <p>
            <label for="email">Email</label>
            <input type="email" name="" id="email">
        </p>
        <p>
            <label for="cpf">CPF</label>
            <input type="cpf" name="" id="cpf">
        </p>
        <button type="">Recuperar</button>
    </form>
</body>
</html>